import locale

"""TOKEN генерится через https://t.me/BotFather"""
TOKEN = 'token from https://t.me/BotFather'
"""RAPID_KEY надо получить после регистрации в https://rapidapi.com/apidojo/api/hotels4/ """
RAPID_KEY = 'rapid registration key'

MAX_HOTEL_PHOTOS = 10
MAX_HOTELS = 10

locale.setlocale(locale.LC_ALL, 'Russian_Russia')       # for windows
# locale.setlocale(locale.LC_ALL, ('ru_RU', 'UTF-8'))   # for linux

database_name = 'database/alinabot.db'
